{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="container" style="padding-top:20px">
        What would you like to scan?
        

        <div id="search-bar">

        <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <p></p>
        {{ scan_form|crispy }}
        <p></p>
        <button type="submit" class="btn btn-primary">Create</button>
        </form>    
        </div>


    </div>

</div>

{% endblock  %}

