{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="container" style="padding-top:20px">
        What would you like to scan?
        <div id="search-bar">

        <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <p></p>
        {{ scan_form|crispy }}
        <p></p>
        <button type="submit" class="btn btn-primary">Create</button>
        </form>    
        </div>


    </div>

</div>

<div class='container' style="padding-top:25px">

    <table class='table'>

        <thead class='thead dark'>
            <tr>
                <th scope="col">Scan Name (Time is in <strong>UTC</strong>)</th>
                <th scope="col">Target</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        
        <tbody>
        {% for scan in scans %}
        <tr>
        <td>{{scan.scan_name}}</td>
        <td>{{scan.scan_target}}</td>
        <td>{{scan.status}}</td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock  %}

